---
layout: default
---

{% include top_bar.html %}

<section class="last">
	<h2>Contact</h2>
	<p id="background1">
	<p>For <strong>work-related subjects</strong>, the best way to contact me is through my <strong>email</strong> or <strong>phone number</strong>. For more informal matters or if you just want to say hello, give me a message on <strong>Twitter</strong>.</p>
	</p>
	<p>Most of my video game projects are uploaded on my <strong>Itch.io</strong>, to see development information on them check out my <strong>GitHub</strong>. If you want to see my blog where I post about what I'm making then check out my <strong>Tumblr</strong>.</p>
	
	<p>Here are the links:</p>
	{% include horizontal_list.html collection=site.data.home.footer_entries %}

</section>
<h1>Email</h1>
<p>JacobBradford2312@Outlook.com<br />
	<h1>Number</h1>

+44 7376 849641<br />
</p>
{% include bottom_bar.html %}
