<ul class="horizontal-list">
  {% for post in site.posts %}
  {% if post.category == include.collection%}
    <li class="card">
      <a href="{{ post.url }}">
        <span class="header">
          {{ post.title }}

          {% if post.highlight %}
            <mark>{{ post.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if post.bio != false %}
        <p class="body">
          {{ post.bio }}
        </p>
        <a href={{post.url}} class="image featured"><img src={{ "images/" | append: post.image }}/></a>
        <h2>{% assign new_var = "images/" | append: post.image %}</h2>

        {% endif %}
      </a>
    </li>
  {% endif %}
  {% endfor %}
</ul>
