
    <div id="page-wrapper">

        <div id="header-wrapper">
            <header id="header" class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="/index.html">Jacob</a></h1>
                    <h2><a href="/index.html"></a>Programmer and Game Designer</h2>                
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li class={{include.current1}}><a href="/index.html">Home</a></li>
                        <li class={{include.current2}}><a href="/portfolio.html">Portfolio</a></li>
                        <li class={{include.current3}}><a href="/cv.html">CV</a></li>
                        <li class={{include.current4}}><a href="/about_me.html">About Me</a></li>
                        <li class={{include.current5}}><a href="/contact.html">Contact</a></li>
                    </ul>
                </nav>
        </div>

    </div>
