<ul>
    {% for item in include.collection %}
    {% if item.type == "first"%}
    <!--<button onclick="showMore()" id="moreButton">Read more</button></button>-->
    {% endif %}
    <span id="" style = "display: inline;"> 
    <li>
    {{item.name}}

    {% if item.entries %}
      {% include vertical_list.html collection=item.entries %}

    {% endif %}
  </span>
    </li>
  {% endfor %}

</ul>

<script>
  function showMore() {
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("moreButton");
  
    if (btnText.innerHTML === "Read less") {
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "inline";
    }
  }
  </script>