---
layout: default
---



<header>
{% include top_bar.html %}
<h1>Jacob Bradford </h1>
  <h2>Experienced programmer and avid game designer</h2>
</header>

  <div>
    <p>Heyo, I'm <strong>Jacob</strong>, I'm a hobbyist game programmer and designer looking
      to break into the industry. I graduated from the <strong>University of Birmingham</strong> in 2023
      with <strong>first-class honours in Computer Science</strong>, since then I've been
      working on personal game projects whilst being an IT volunteer at a cultural
        heritage site.</p>

      <p>
    I have a passion for creating games and have been doing it for nearly a decade
      creating games in <strong>Unity, Game Maker Studio, Android Studio,
        Javascript</strong> and more. Using my free time to cultivate the skills I have
      is an important principle I follow and has led to my continued growth after
      graduating.</p>

      <p>I recently participated in <strong>Limit Break 2024</strong> which has given me new challenges and opportunities to progress my development skills</p>
    </div> 
<div>
<h2>Showcase</h2>
{% include card_list.html collection="full_project" %}
<a class = "button" href = "/portfolio">See all</a>
</div>
<div class="expandable">

<h2>Skills</h2>
Some of the Languages, Tools and Engines I have experience in. I'm most familiar with Unity and programming in C#.
<div class="marquee">
  <div class="marquee-track">
    <div class="marquee-content">
      {% include skills.html %}
    </div>
    <div class="marquee-content">
      {% include skills.html %}
    </div>
  </div>
</div>

<div class="content">
{% include vertical_list.html collection=site.data.home.skills %}
</div>
<a class = "more"></a>
</div>


<div class="expandable">
<h2 >Code Snippet</h2>
<div class="content">
<p>Here's a look at how I code through an NPC class I wrote for my 2024 gamejam submission 'Dancing Mania'. Players need to perform a combo to recruit NPCs who proceed to circle and dance around the player. Two classes inherit from this; aggressive attackers who chase the player and special NPCs who have dialogue. </p>
<div class = "codebox">
{% include code2.html %}
</div>
</div>
<a class = "more"></a>
</div>

{% include bottom_bar.html %}

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function(){
            more[i].parentNode.classList    .toggle('active')
        })
    }

</script>
